<form>
    <div style="position: absolute; left: 20px; bottom: 480px; width: 40%;" class="form-group">
      <label for="FirstName">Your Name*</label>
      <input  class="form-control"  style="border-radius: 0%;">
      <small  class="form-text text-muted">First Name</small>
    </div>
</form>

<form>
    <div style="position: absolute; left: 700px; bottom: 480px; width: 40%;" class="form-group">
      <input class="form-control" style="border-radius: 0%;">
      <small class="form-text text-muted">Last Name</small>
    </div>
</form>

<form>
    <div style="position: absolute; left: 20px; bottom: 400px; width: 84%;" class="form-group">
        <label for="FirstName">Email*</label>
        <input class="form-control" style="border-radius: 0%;">
    </div>
</form>