<div  style="position: absolute; left: 20px; bottom: 230px; width: 4%;">
    <input id="date" type="number" class="form-control" style="border-radius: 0%;" >
</div>

<div  style="position: absolute; left: 100px; bottom: 230px; width: 4%;">
    <input id="month" type="number" class="form-control" style="border-radius: 0%;" >
</div>

<div  style="position: absolute; left: 180px; bottom: 230px; width: 4%;">
    <input id="year" type="number" class="form-control" style="border-radius: 0%;" >
</div>

<small class="form-text text-muted"style="position: absolute; left: 20px; bottom: 350px; width: 20%;">Date and time you first noticed this bug*</small>
<div  style="position: absolute; left: 20px; bottom: 300px; width: 5%;">
    <input id="date" type="number" class="form-control" style="border-radius: 0%;" >
</div>

<div  style="position: absolute; left: 110px; bottom: 300px; width: 4%;">
    <input id="month" type="number" class="form-control" style="border-radius: 0%;" >
</div>

<div  style="position: absolute; left: 190px; bottom: 300px; width: 6%;">
    <input id="year" type="number" class="form-control" style="border-radius: 0%;" >
</div>

<div style="position: absolute; left: 290px; bottom: 305px; width: 10; height: 20;">
    <img src="assets\WhatsApp Image 2024-01-12 at 11.47.55 PM.jpeg"  style="height: 30px;">
</div>

<label style="position: absolute; left: 25px; bottom: 180px; width: 84%; border-radius: 0%;">Impact</label>
<input class="form-control" type="number" style="position: absolute; left: 20px; bottom: 140px; width: 84%; border-radius: 0%;" placeholder="low">

<small class="form-text text-muted"style="position: absolute; left: 20px; bottom: 100px; width: 20%;">Detailed explanation of bug*</small>
<textarea style="position: absolute; left: 20px; bottom: -60px;height:20%; width: 84%; border-radius: 0%;"></textarea>

