<p class="text-danger" style="position:absolute; left: 400px;font-size:60px;">Contact Our</p>
<p style="position:absolute; left: 250px; bottom:550px ;font-size:60px;">Customer Support Center</p>

<p style="position:absolute; left: 650px; bottom:450px ;font-size: 30px;">Contact Information</p>
<p style="position:absolute; left: 580px; bottom:410px ;font-size: 20px;">Please fill out your contact information below</p>
<div class="form-group">
    <label style="position: absolute; left:210px; bottom: 365px;" for="Name">Name<label class="text-danger" style="font-size: 18px; font-weight: bold;">*</label></label>
    <input type="text" class="form-control"  style="position:absolute; left: 200px; bottom:330px; width: 25%;border-color:rgb(194, 192, 192);">
    <p style="position:absolute; left: 210px; bottom:290px; font-size: 15px;">First Name</p>
    <p style="position:absolute; left: 610px; bottom:290px; font-size: 15px;">Last Name</p>

    <input type="text"class="form-control" style="position:absolute; left: 600px; bottom:330px; width: 25%; border-color:rgb(194, 192, 192);">

    <label style="position: absolute; left:210px; bottom: 275px; " for="Name">Email<label class="text-danger" style="font-size: 18px; font-weight: bold;">*</label></label>
    <input type="text" class="form-control" style="position:absolute; left: 200px; bottom:240px; width: 80%;border-color:rgb(194, 192, 192);">

    <label style="position: absolute; left:210px; bottom: 200px; " for="Name">Phone<label class="text-danger" style="font-size: 18px; font-weight: bold;">*</label></label>
    <input type="text" class="form-control" style="position:absolute; left: 200px; bottom:160px; width: 80%;border-color:rgb(194, 192, 192);">

    <label style="position: absolute; left:210px; bottom: 110px; " for="Name">Address<label class="text-danger" style="font-size: 18px; font-weight: bold;">*</label></label>
    <input type="text" class="form-control" style="position:absolute; left: 200px; bottom:70px; width: 80%;border-color:rgb(194, 192, 192);">
</div>

<img class="img1" ngSrc="\assets\macbook-pro-13-2_10c1bc0f-0407-49b1-9f4f-4ee448e90e18.jpeg" class="img1"width="330" height="320">